<footer class="footers">

    <div class="logo">
        <img class="logo__img" src="https://firebasestorage.googleapis.com/v0/b/mono-sushi-40aba.appspot.com/o/monoImage%2Flogo.svg?alt=media&token=c146e236-02a7-45ff-ba51-32ece23e18fe"
            alt="logo">
        <p class="logo__text">© 2023 Monosushi</p>
    </div>
    <div class="menu">
        <ul>
            <li class="menu__li"><a [routerLink]="[ '/action' ]">Акції</a></li>
            <li class="menu__li"><a [routerLink]="[ '/about' ]">Про нас</a></li>
            <li class="menu__li"><a [routerLink]="[ '/offerta' ]">Оферта</a></li>
        </ul>
        <div class="menu__img">
            <img src="https://firebasestorage.googleapis.com/v0/b/mono-sushi-40aba.appspot.com/o/monoImage%2Fpay-card-img-1.svg?alt=media&token=923820af-b1fb-4e6e-a4a2-3227547ea96c" width="40px"
                alt="menu">
            <img src="https://firebasestorage.googleapis.com/v0/b/mono-sushi-40aba.appspot.com/o/monoImage%2Fpay-card-img-2.svg?alt=media&token=638dbf92-c4de-4ea4-8171-164f0332e3c6" width="40px"
                alt="menu">
            <img src="https://firebasestorage.googleapis.com/v0/b/mono-sushi-40aba.appspot.com/o/monoImage%2Fpay-card-img-3.svg?alt=media&token=2575ad50-3539-4e2c-bea8-bf3e0f400142" width="40px"
                alt="menu">
        </div>
    </div>
    <div class="footer">
        <p class="footer__bold">Точки самовивозу</p>
        <p class="footer__light">вул. Володимира Великого, 10в</p>
        <p class="footer__light">вул. Чорновола, 95</p>
        <div class="footer__social"> <span class="delivery__light">Слідкуйте за
                нами</span>
            <a href="https://www.facebook.com/monosushi.com.ua/" target="_blank">
                <i class="uil uil-facebook-f"></i></a>

            <a href="https://www.instagram.com/monosushi.com.ua/"
                target="_blank">
                <i class="uil uil-instagram"></i></a>
        </div>

    </div>
    <div class="footer">
        <p class="footer__bold">Оформити замовлення</p>
        <p class="footer__light">(097) 878 08 37</p>
    </div>
    <div class="footer">
        <p class="footer__bold">Графік роботи</p>
        <p class="footer__light">працюємо з 11:00 до 21:30</p>
    </div>
</footer>
