<form class="form"
    [formGroup]="phoneForm">
    <button class="closeForm" mat-icon-button matTooltip="Basic"
        mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
    <h2>МИ ЗАТЕЛЕФОНУЕМО</h2>
    <p>Залиште номер телефону і наші менеджери зв'яжуться з вами</p>
    <div class="form-group">
        <mat-form-field appearance="outline" color="primary">
            <mat-label>*Ваше ім'я</mat-label>
            <input formControlName="name"
                matInput type="text">
        </mat-form-field>
    </div>


    <div class="form-group">
        <mat-form-field appearance="outline" color="primary"
            class="example-full-width">
            <mat-label>*Ваш телефон</mat-label>
            <span matPrefix>+38 &nbsp;</span>
            <input type="tel" matInput formControlName="phone"
                placeholder="063 220 22 11">
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
    </div>

    <button mat-raised-button (click)="callOrderDialog()"
        [disabled]="phoneForm.invalid"
        type="submit" color="primary">НАДІСЛАТИ</button>

</form>