@import "../../../shared/styles/base";
@import "../../../shared/styles/mixins/media";
@import "../../../shared/styles/variables";
@import "../../../shared/styles/theme-material";

.header {
  display: flex;
  margin: 15px 0;
  width: 100%;
  h2 {
    width: 95%;
    line-height: 25px;
    margin-left: 10px;
    font-size: 22px;
    @include respond(mobile) {
      font-size: 18px;
    }
  }
}
.form {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 10px auto;
  @include respond(tablet) {
    width: 75%;
    margin: 10px auto;
  }
  @include respond(mobile) {
    max-width: 400px;
    width: 100%;
    margin: 10px auto;
  }
}
.form-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mat-form-field {
  width: 100%;
}
.cancelBtn {
  width: 200px;
  height: 60px;
  font-size: 18px;
  margin: 15px 0;
  @extend %btn__admin;
  @include respond(tablet) {
    width: 170px;
    height: 50px;
    font-size: 15px;
  }
  @include respond(mobile) {
    width: 150px;
    height: 40px;
    font-size: 14px;
    margin: 5px 0;
  }
}
.saveBtn {
  @extend .cancelBtn;
  @extend %btnBlue;
}
