<form class="form" [formGroup]="passwordForm">
    <div class="header">
        <h2>Зміна паролю</h2>
    </div>

    <div class="form-group">
        <mat-form-field appearance="outline" color="primary">
            <mat-label>*Ваш поточний пароль</mat-label>
            <input formControlName="oldpassword"
                matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)=" hide=!hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field appearance="outline" color="primary">
            <mat-label>*Новий пароль</mat-label>
            <input formControlName="password"
                matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)=" hide=!hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field appearance="outline" color="primary">
            <mat-label>*Повторіть пароль</mat-label>
            <input formControlName="repassword"
                matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)=" hide=!hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-error *ngIf="checkError">
            Password mismatch
        </mat-error>
    </div>

    <div class="form-group">
        <button class="cancelBtn" (click)="cancelBtn() ">Скасувати</button>
        <button class="saveBtn" (click)="saveBtn()">Зберегти зміни</button>
    </div>

</form>
